
* {

  font-weight: bold;
}


#content {
  border-radius: 200px;
  background-color: white;

 width: 50%;
  height: 50%;

  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

}





.colour1 {
  color: #db412a;
  background-color: #db412a;
}

.colour2 {
  color: #94c773;
  background-color: #94c773;
}

.colour3 {
 color: #94c773;
 background-color: #94c773;
}

.colour4 {
  color: #015091;
  background-color: #015091;
}

.colour5 {
 color: #ffcc00;
 background-color: #ffcc00;
}

.colour6 {
 color: #bbbbbf;
background-color: #bbbbbf;

}


.fa {
display: inline;


}


i.fa.fa-quote-left {
  display: inline;

  margin-left : 20%;
}

i.fa.fa-quote-right {
   display: inline;

  margin-right: 80%;
}

button {
  height: 50px;
  color: white !important;
  overflow: auto;
  margin: auto;
  position: fixed;
  top: 1;
  margin-left: auto;
  bottom: 0;
  margin-right: auto;

}

#developer  {

color: white;
}


#quote {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 0;

  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 0;
}

#author {

  text-align: right;
  padding: 10%;
  margin-left: 10%;
  margin-right: 10%;


}